<section class="main-higlight" [ngStyle]="{'background' : 'url(assets/img/banner-about.jpg)'}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
              <div class="our-story-head">
                <h1 class="text-uppercase">careers</h1>
              </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>