.main-higlight{
    position: relative;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    /* height: 1000px; */
    width: 100%;
}

.main-higlight .our-story-head{
    /* padding-top: 200px; */
    padding-top: 100px;
    text-align: center;
    margin-top: 250px;
    padding-bottom: 270px;
}
.main-higlight .our-story-head h1{
    /* font-size: 124PX; */
    font-size: 88PX;
    font-weight: bolder;
    font-family: prague;
    color: #fff;
}


/* media query start */

@media (min-width: 320px) and (max-width: 480px) {
    .main-higlight{
        height: 440px !important;
    }
    .main-higlight .our-story-head {
        padding-top: unset !important;
        margin-top: 155px;
        padding-bottom: unset !important;
    }

    .main-higlight .our-story-head h1{
        font-size: 60px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {


}

@media (min-width: 768px) and (max-width: 1024px) {

    
}