
<div class="main-section" [ngStyle]="{'background' : 'url(assets/img/franchise-with-us.jpg)'}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
              <div class="brand-head">
                <h1 class="text-uppercase">MEET THE TEAM</h1>
              </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</div>
<section class="about-CEO">
    <div  class="container-fluid">
        <div  class="row">
        <div  class="col-md-5">
            <div class="content-left">
                <img  alt="about" class="aboutimage" src="assets/img/priyank-sukhija.jpg">
            </div>
        </div>
        <div  class="col-md-7">
            <div class="content-right">
                <h2>Priyank Sukhija</h2>
                <p>C.E.O. & M.D.</p>
                <p class="text-justify banner-content"> Priyank Sukhija is a prolific restauranteur, industrious to the core and a true innovator! A simple man, he doesn’t sweat of success. An amiable personality, he is zealous towards what he does. Born in a family of educated lawyers, Priyank has been the captain of his own boat. The only businessman in the family, he opened the fine-dining restaurant Lazeez Affaire at Malcha Marg, with support from his parents at the young age of 19. The success of Lazeez Affaire prompted him to take Delhi’s existing culinary experience and transform it into something no one could foresee. Priyank Sukhija is a prolific restaurateur, industrious to the core and a true innovator! A simple man, he doesn’t sweat of success.</p>
                <a class="btn btn-warning">Read More</a>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="team-member">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="box">
                <img  class="" src="assets/img/YPAshok.jpg">
                <div class="box-content">
                    <h3 class="title" style="padding: 0px;margin:0px;">Y. P. Ashok</h3>
                    <span class="post">Chairman</span>
                </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="box">
                <img  class=""  src="assets/img/Gaurav-Gupta.jpg">
                <div class="box-content">
                    <h3 class="title" style="padding: 0px;margin:0px;">GAURAV GUPTA</h3>
                    <span class="post">COO</span>
                </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="box">
                <img  class=""   src="assets/img/B.R.-Sachdeva.jpg">
                <div class="box-content">
                    <h3 class="title" style="padding: 0px;margin:0px;">B.R. SACHDEVA</h3>
                    <span class="post">Director Finance & Legal</span>
                </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="box">
                <img  class=""  src="assets/img/anuj.png">
                <div class="box-content">
                    <h3 class="title" style="padding: 0px;margin:0px;">ANUJ JOKHANI</h3>
                    <span class="post">Marketing Head</span>
                </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="box">
                <img  class=""  src="assets/img/Dheeraj-Sachdeva.jpg">
                <div class="box-content">
                    <h3 class="title" style="padding: 0px;margin:0px;">DHEERAJ SACHDEVA</h3>
                    <span class="post">VP Operation North India</span>
                </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="box">
                <img  class=""  src="assets/img/SachinBhatt.jpg">
                <div class="box-content">
                    <h3 class="title" style="padding: 0px;margin:0px;">SACHIN BHATT</h3>
                    <span class="post">VP Operation West India</span>
                </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="box">
                <img  class="" src="assets/img/Nidhi-sharma.jpg">
                <div class="box-content">
                    <h3 class="title" style="padding: 0px;margin:0px;">NIDHI SHARMA</h3>
                    <span class="post">HR Manager</span>
                </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="box">
                <img  class=""  src="assets/img/Himmat-Rautela.jpg">
                <div class="box-content">
                    <h3 class="title" style="padding: 0px;margin:0px;">HIMMAT RAUTELA</h3>
                    <span class="post">Corporate Chef</span>
                </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="box">
                <img  class=""  src="assets/img/Sagar-Bajaj.jpg">
                <div class="box-content">
                    <h3 class="title" style="padding: 0px;margin:0px;">SAGAR BAJAJ</h3>
                    <span class="post">Corporate Chef</span>
                </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="box">
                <img  class="" src="assets/img/JAY-PHOTO-1-1.jpg">
                <div class="box-content">
                    <h3 class="title" style="padding: 0px;margin:0px;">JAY SHANKAR NATRAJ</h3>
                    <span class="post">Franchise Lead</span>
                </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="box">
                <img  class=""  src="assets/img/vibhutiPR.jpg">
                <div class="box-content">
                    <h3 class="title" style="padding: 0px;margin:0px;">VIBHUTI SOOD</h3>
                    <span class="post">PR Manager</span>
                </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="box">
                <img  class=""  src="assets/img/deepak.jpg">
                <div class="box-content">
                    <h3 class="title" style="padding: 0px;margin:0px;">DEEPAK KUMAR</h3>
                    <span class="post">IT Manager</span>
                </div>
            </div>
          </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>

