<!-- <app-header></app-header> -->

<div class="main-section" [ngStyle]="{'background' : 'url(assets/img/brands.jpg)'}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
              <div class="brand-head">
                <h1 class="text-uppercase">BRANDS</h1>
              </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</div>
<section class="collboration-brand">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/logo-resize-04-700x466.jpg">
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/logo-resize-07-700x466.jpg">
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/logo-700x466.png">
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/Untitled-design-min.jpg">
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/logo-resize-02-700x466.jpg">
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/logo-02.jpg">
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/logo-resize-06-700x466.jpg">
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/logo-resize-03-1-700x466.jpg">
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/logo-resize-03-700x466.jpg">
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/logo-resize-02-1-700x466.jpg">
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/logo-resize-01-700x466.jpg">
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/rpmlogo.jpg">
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/daddy-logo.jpg">
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/diablo.jpg">
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/miso.jpg">
          </a>
        </div>
        <div class="col-md-4 col-sm-4">
          <a  href="">
            <img  class="d-block w-100 brands-logos" src="assets/img/lies.jpg">
          </a>
        </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
